

.second_view_box {
	margin-top: 12rpx;
	width: 624rpx;
	display: flex;
	flex-wrap: wrap;
	border-left: 1px #D2D2D2 solid;
	border-top: 1px #D2D2D2 solid;
	.public_text {
		padding: 8rpx 16rpx;
		font-size: 12rpx;
		line-height: 150%;
		color: #707070;
	}

}
